.footer {
  padding-bottom: 70px;

  @include susy-media(desktopWide) {
    padding-bottom: 115px;
  }
}

.block-copyright {
  font-size: 17px;
  line-height: 28px;

  &__inner {
    @include susy-media(desktopWide) {
      margin-left: 82px;
      margin-right: 82px;
    }
  }

  a {
    color: $text-color;

    &:hover {
      color: $link-color;
    }
  }
}
