.header {
  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }

  &__brand {
    text-align: center;
    padding-right: 30px;
  }

  &__sign-in {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;

    a {
      text-indent: -9999em;
      width: 22px;
      height: 22px;
      overflow: hidden;
      display: inline-block;
      background-image: url("../img/maissg/sign-in-light-button.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 22px 22px;
    }
  }
}
